# Analysis premier league season 2018-2019

In [32]:
import numpy as np
import pandas as pd

df= pd.read_csv("./season-1819.csv")

In [33]:
df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,10/08/18,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,6,4,11,8,2,5,2,1,0,0
1,11/08/18,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,...,4,1,11,9,7,4,1,1,0,0
2,11/08/18,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,...,6,9,9,11,5,5,1,2,0,0
3,11/08/18,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,...,1,4,9,8,2,5,2,1,0,0
4,11/08/18,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,...,2,5,11,12,3,5,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,12/05/19,Liverpool,Wolves,2,0,H,1,0,H,M Atkinson,...,5,2,3,11,4,1,0,2,0,0
376,12/05/19,Man United,Cardiff,0,2,A,0,1,A,J Moss,...,10,4,9,6,11,2,3,3,0,0
377,12/05/19,Southampton,Huddersfield,1,1,D,1,0,H,L Probert,...,3,3,8,6,4,3,0,1,0,0
378,12/05/19,Tottenham,Everton,2,2,D,1,0,H,A Marriner,...,3,9,10,13,7,4,0,2,0,0
379,12/05/19,Watford,West Ham,1,4,A,0,2,A,C Kavanagh,...,8,9,10,10,7,2,1,0,1,0

In [34]:
# Goal
totalHomeGoal = sum(df['FTHG'])
totalAwayGoal = sum(df['FTAG'])
print('Total home goal: ' + str(totalHomeGoal))
print('Total away goal: ' + str(totalAwayGoal))
print('Total goal: ' + str(totalAwayGoal + totalHomeGoal))
print()

# Card
totalHomeYellowCard = sum(df['HY'])
totalAwayYellowCard = sum(df['AY'])
totalYellowCard = totalHomeYellowCard + totalAwayYellowCard
print('Total home yellow card: ' + str(totalHomeYellowCard))
print('Total away yellow card: ' + str(totalAwayYellowCard))
print('Total yellow card: ' + str(totalYellowCard))
print()

# Red card
totalHomeRedCard = sum(df['HR'])
totalAwayRedCard = sum(df['AR'])
totalRedCard = totalHomeRedCard + totalAwayRedCard
print('Total home red card: ' + str(totalHomeRedCard))
print('Total away red card: ' + str(totalAwayRedCard))
print('Total red card: ' + str(totalRedCard))

Total home goal: 596
Total away goal: 476
Total goal: 1072

Total home yellow card: 580
Total away yellow card: 640
Total yellow card: 1220

Total home red card: 18
Total away red card: 29
Total red card: 47

## Arsenal

In [35]:
ars = df[(df['HomeTeam'] == 'Arsenal') | (df['AwayTeam'] == 'Arsenal')]
ars

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
7,12/08/18,Arsenal,Man City,0,2,A,0,1,A,M Oliver,...,3,8,11,14,2,9,2,2,0,0
11,18/08/18,Chelsea,Arsenal,3,2,H,2,2,D,M Atkinson,...,11,6,12,9,5,1,0,2,0,0
20,25/08/18,Arsenal,West Ham,3,1,H,1,1,D,G Scott,...,10,5,16,13,10,2,1,3,0,0
38,02/09/18,Cardiff,Arsenal,2,3,A,1,1,D,A Taylor,...,3,11,12,14,3,9,3,4,0,0
44,15/09/18,Newcastle,Arsenal,1,2,A,0,0,D,L Probert,...,2,2,13,11,10,4,0,0,0,0
58,23/09/18,Arsenal,Everton,2,0,H,0,0,D,J Moss,...,5,6,17,12,5,9,2,1,0,0
60,29/09/18,Arsenal,Watford,2,0,H,0,0,D,A Taylor,...,2,4,11,17,6,6,2,2,0,0
77,07/10/18,Fulham,Arsenal,1,5,A,1,1,D,P Tierney,...,4,7,11,12,4,2,2,0,0,0
89,22/10/18,Arsenal,Leicester,3,1,H,1,1,D,C Kavanagh,...,6,2,10,10,6,4,2,2,0,0
97,28/10/18,Crystal Palace,Arsenal,2,2,D,1,0,H,M Atkinson,...,3,2,10,16,6,4,1,2,0,0
100,03/11/18,Arsenal,Liverpool,1,1,D,0,0,D,A Marriner,...,4,4,7,7,5,8,1,1,0,0
116,11/11/18,Arsenal,Wolves,1,1,D,0,1,A,S Attwell,...,3,5,9,16,11,2,2,2,0,0
127,25/11/18,Bournemouth,Arsenal,1,2,A,1,1,D,C Pawson,...,5,4,6,9,5,8,2,1,0,0
137,02/12/18,Arsenal,Tottenham,4,2,H,1,2,A,M Dean,...,7,6,15,17,8,5,3,3,0,1
147,05/12/18,Man United,Arsenal,2,2,D,1,1,D,A Marriner,...,7,4,13,10,4,4,3,3,0,0
150,08/12/18,Arsenal,Huddersfield,1,0,H,0,0,D,P Tierney,...,2,0,13,20,7,1,5,4,0,0
169,16/12/18,Southampton,Arsenal,3,2,H,2,1,H,C Kavanagh,...,7,4,12,10,4,5,3,1,0,0
171,22/12/18,Arsenal,Burnley,3,1,H,1,0,H,K Friend,...,6,2,10,14,1,3,2,5,0,0
180,26/12/18,Brighton,Arsenal,1,1,D,1,1,D,A Taylor,...,3,4,10,4,4,9,2,1,0,0
193,29/12/18,Liverpool,Arsenal,5,1,H,4,1,H,M Oliver,...,10,2,8,13,5,3,1,2,0,0
200,01/01/19,Arsenal,Fulham,4,1,H,1,0,H,G Scott,...,9,4,7,12,8,3,0,1,0,0
216,12/01/19,West Ham,Arsenal,1,0,H,0,0,D,J Moss,...,3,2,7,10,7,3,0,2,0,0
220,19/01/19,Arsenal,Chelsea,2,0,H,2,0,H,A Taylor,...,5,1,13,15,5,6,0,2,0,0
230,29/01/19,Arsenal,Cardiff,2,1,H,0,0,D,M Dean,...,4,2,14,12,4,7,3,3,0,0
248,03/02/19,Man City,Arsenal,3,1,H,2,1,H,M Atkinson,...,12,2,11,8,4,2,1,1,0,0
254,09/02/19,Huddersfield,Arsenal,1,2,A,0,2,A,J Moss,...,6,4,17,12,5,0,3,2,0,0
267,24/02/19,Arsenal,Southampton,2,0,H,2,0,H,G Scott,...,4,4,7,14,6,4,0,0,0,0
273,27/02/19,Arsenal,Bournemouth,5,1,H,2,1,H,C Kavanagh,...,6,5,11,9,9,4,2,2,0,0
283,02/03/19,Tottenham,Arsenal,1,1,D,0,1,A,A Taylor,...,3,4,15,14,3,4,3,2,0,1
296,10/03/19,Arsenal,Man United,2,0,H,1,0,H,J Moss,...,3,4,12,18,5,2,2,2,0,0
313,01/04/19,Arsenal,Newcastle,2,0,H,1,0,H,A Taylor,...,4,1,11,10,6,2,2,0,0,0
323,07/04/19,Everton,Arsenal,1,0,H,1,0,H,K Friend,...,6,2,8,9,9,6,1,4,0,0
334,15/04/19,Watford,Arsenal,0,1,A,0,1,A,C Pawson,...,3,6,12,8,6,4,2,0,1,0
342,21/04/19,Arsenal,Crystal Palace,2,3,A,0,1,A,J Moss,...,5,7,15,12,8,3,4,1,0,0
349,24/04/19,Wolves,Arsenal,3,1,H,3,0,H,S Attwell,...,3,1,12,9,5,5,2,3,0,0
358,28/04/19,Leicester,Arsenal,3,0,H,0,0,D,M Oliver,...,12,1,13,13,8,6,3,1,0,1
366,05/05/19,Arsenal,Brighton,1,1,D,1,0,H,A Taylor,...,8,5,9,14,16,3,5,2,0,0
371,12/05/19,Burnley,Arsenal,1,3,A,0,0,D,M Dean,...,5,6,11,3,4,5,5,1,0,0

In [53]:
homeWin = ars[(ars['HomeTeam'] == 'Arsenal') & (ars['FTR'] == 'H')]
awayWin = ars[(ars['AwayTeam'] == 'Arsenal') & (ars['FTR'] == 'A')]
homeDraw = ars[(ars['HomeTeam'] == 'Arsenal') & (ars['FTR'] == 'D')]
awayDraw = ars[(ars['AwayTeam'] == 'Arsenal') & (ars['FTR'] == 'D')]
# draw = ars[ars['FTR'] == 'D']